@font-face {
    font-family: 'Sailec';
    src: url('Sailec-MediumItalic.eot');
    src: url('Sailec-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Sailec-MediumItalic.woff2') format('woff2'),
        url('Sailec-MediumItalic.woff') format('woff'),
        url('Sailec-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-ThinItalic.eot');
    src: url('Sailec-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Sailec-ThinItalic.woff2') format('woff2'),
        url('Sailec-ThinItalic.woff') format('woff'),
        url('Sailec-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Medium.eot');
    src: url('Sailec-Medium.eot?#iefix') format('embedded-opentype'),
        url('Sailec-Medium.woff2') format('woff2'),
        url('Sailec-Medium.woff') format('woff'),
        url('Sailec-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec.eot');
    src: url('Sailec.eot?#iefix') format('embedded-opentype'),
        url('Sailec.woff2') format('woff2'),
        url('Sailec.woff') format('woff'),
        url('Sailec.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Thin.eot');
    src: url('Sailec-Thin.eot?#iefix') format('embedded-opentype'),
        url('Sailec-Thin.woff2') format('woff2'),
        url('Sailec-Thin.woff') format('woff'),
        url('Sailec-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Light.eot');
    src: url('Sailec-Light.eot?#iefix') format('embedded-opentype'),
        url('Sailec-Light.woff2') format('woff2'),
        url('Sailec-Light.woff') format('woff'),
        url('Sailec-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Black.eot');
    src: url('Sailec-Black.eot?#iefix') format('embedded-opentype'),
        url('Sailec-Black.woff2') format('woff2'),
        url('Sailec-Black.woff') format('woff'),
        url('Sailec-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-BlackItalic.eot');
    src: url('Sailec-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Sailec-BlackItalic.woff2') format('woff2'),
        url('Sailec-BlackItalic.woff') format('woff'),
        url('Sailec-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Thin_1.eot');
    src: url('Sailec-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('Sailec-Thin_1.woff2') format('woff2'),
        url('Sailec-Thin_1.woff') format('woff'),
        url('Sailec-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-BoldItalic.eot');
    src: url('Sailec-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Sailec-BoldItalic.woff2') format('woff2'),
        url('Sailec-BoldItalic.woff') format('woff'),
        url('Sailec-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec-RegularItalic';
    src: url('Sailec-RegularItalic.eot');
    src: url('Sailec-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Sailec-RegularItalic.woff2') format('woff2'),
        url('Sailec-RegularItalic.woff') format('woff'),
        url('Sailec-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec Hairline';
    src: url('SailecHairline.eot');
    src: url('SailecHairline.eot?#iefix') format('embedded-opentype'),
        url('SailecHairline.woff2') format('woff2'),
        url('SailecHairline.woff') format('woff'),
        url('SailecHairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec Hairline';
    src: url('SailecHairline-Italic.eot');
    src: url('SailecHairline-Italic.eot?#iefix') format('embedded-opentype'),
        url('SailecHairline-Italic.woff2') format('woff2'),
        url('SailecHairline-Italic.woff') format('woff'),
        url('SailecHairline-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Bold.eot');
    src: url('Sailec-Bold.eot?#iefix') format('embedded-opentype'),
        url('Sailec-Bold.woff2') format('woff2'),
        url('Sailec-Bold.woff') format('woff'),
        url('Sailec-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Medium_1.eot');
    src: url('Sailec-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('Sailec-Medium_1.woff2') format('woff2'),
        url('Sailec-Medium_1.woff') format('woff'),
        url('Sailec-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-Light_1.eot');
    src: url('Sailec-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Sailec-Light_1.woff2') format('woff2'),
        url('Sailec-Light_1.woff') format('woff'),
        url('Sailec-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec';
    src: url('Sailec-LightItalic.eot');
    src: url('Sailec-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Sailec-LightItalic.woff2') format('woff2'),
        url('Sailec-LightItalic.woff') format('woff'),
        url('Sailec-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sailec Regular';
    src: url('Sailec-Italic.eot');
    src: url('Sailec-Italic.eot?#iefix') format('embedded-opentype'),
        url('Sailec-Italic.woff2') format('woff2'),
        url('Sailec-Italic.woff') format('woff'),
        url('Sailec-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

